.row {
    text-align: center;
}

.table-active > td {
    font-weight: bold;
}

.card {
    min-width: 20em;
}

.card-header {
    font-weight: bold;
}

.p-3 {
    padding-top: 3em !important;
}

@-webkit-keyframes cell-danger {
  from { background-color: #282828; }
  to { background-color: inherit; }
}
@-moz-keyframes cell-danger {
  from { background-color: #282828; }
  to { background-color: inherit; }
}
@-o-keyframes cell-danger {
  from { background-color: #282828; }
  to { background-color: inherit; }
}
@keyframes cell-danger {
  from { background-color: #282828; }
  to { background-color: inherit; }
}
.cell-danger {
  -webkit-animation: cell-danger 1s infinite; /* Safari 4+ */
  -moz-animation:    cell-danger 1s infinite; /* Fx 5+ */
  -o-animation:      cell-danger 1s infinite; /* Opera 12+ */
  animation:         cell-danger 1s infinite; /* IE 10+ */
}

.alert {
    font-size: 16px;
}